<section class="footer__brn">
  <div class="container">
    <div class="brntop">
			<span class="dispc">
			  <img src="{{ asset('assets/img/common/brn.png', 'user_data') }}" alt="">
			</span>
			<span class="dissp"><img src="{{ asset('assets/img/common/brnsp.png', 'user_data') }}" alt=""></span>
			<a class="link1" href="{{ url('homepage') ~ '#chargesimulation' }}">
			  <img class="dispc" src="{{ asset('assets/img/common/cta-simulation.png', 'user_data') }}" alt="">
			  <img class="dissp" src="{{ asset('assets/img/common/cta-simulation-sp.png', 'user_data') }}" alt="">
			</a>
			<a class="link2" href="{{ url('homepage') ~ '#chargesimulation' }}">
			  <img class="dispc" src="{{ asset('assets/img/common/cta-sign.png', 'user_data') }}" alt="">
			  <img class="dissp" src="{{ asset('assets/img/common/cta-sign-sp.png', 'user_data') }}" alt="">
			</a>
		</div>
    <div class="listbrn dflex slick3">
      <div class="listbrn--item"><a href=""><img src="{{ asset('assets/img/common/brn01.png', 'user_data') }}" alt=""></a></div>
      <div class="listbrn--item"><a href=""><img src="{{ asset('assets/img/common/brn02.png', 'user_data') }}" alt=""></a></div>
      {# <div class="listbrn--item"><a href=""><img src="{{ asset('assets/img/common/brn03.png', 'user_data') }}" alt=""></a></div> #}
    </div>
  </div>
</section>