<section class="footer__brn">
    <div class="container">
        <div class="brntop">
            <a href="{{ url('homepage') }}">
                <img class="dispc" src="{{ asset('assets/common_img/brn.png', 'user_data') }}" alt="">
                <img class="dissp" src="{{ asset('assets/common_img/brnsp.png', 'user_data') }}" alt="">
            </a>
        </div>
        <div class="listbrn dflex slick3">
            <div class="listbrn--item">
                <a href=""><img src="{{ asset('assets/common_img/brn01.png', 'user_data') }}" alt=""></a>
            </div>
            <div class="listbrn--item">
                <a href=""><img src="{{ asset('assets/common_img/brn02.png', 'user_data') }}" alt=""></a>
            </div>
            {# <div class="listbrn--item">
                <a href=""><img src="{{ asset('assets/common_img/brn03.png', 'user_data') }}" alt=""></a>
            </div> #}
        </div>
    </div>
</section>